@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components{
    .link{
        cursor:pointer;
    }
    .link:hover{
        @apply underline;
    }
    /* .btn{
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-800 hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
    }
    .btn:hover{

    } */
    /* .form{
        display: flex;
        padding-right: 1.5rem; padding-left: 1.5rem;
        padding-top: 0.75rem; padding-bottom: 0.75rem;
        margin-left: 2.5rem;margin-right: 1.25rem;
        border-width: 1px;border-color: #edf2f7;border-radius: 9999px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        max-width: 48rem;
        justify-items: center;
    }
    .icon{
        padding-left: 1rem;
        border-color: #e2e8f0;
    }
    .icon:hover{
        height: 30px;
    }
    .search{
        border-left: solid;
        border-color: lightgray;
        margin-left: 6px;
        padding: 4px;
        color: blue;
    }
    .search:hover{
        height: 30px;
    }
    .headericon{
        height: 1rem;
    } */
}